"*":
  "atom-beautify":
    coffeescript:
      default_beautifier: "Coffee Formatter"
      indent_size: 2
      indent_with_tabs: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
    general:
      _analyticsUserId: "a084b0a4-40e8-478a-a3e0-67180886ef55"
      analytics: false
      beautifyEntireFileOnSave: false
      muteUnsupportedLanguageErrors: true
    java:
      configPath: "~/.uncrustify/uncrustify.cfg"
    json:
      indent_with_tabs: true
      jslint_happy: true
      preserve_newlines: false
      space_after_anon_function: true
      space_in_paren: true
    ruby:
      indent_size: 2
  core:
    allowPendingPaneItems: false
    audioBeep: false
    automaticallyUpdate: false
    disabledPackages: [
      "linter-lintr"
      "whitespace"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "/Users/inovakov/source"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  crystal:
    compilerColorOutput: true
    formatOnSave: true
  editor:
    autoIndentOnPaste: false
    fontSize: 11
    invisibles: {}
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "dc6ad83a-018f-00ef-c120-bc01438f552b"
  "go-plus":
    disabledBundledPackages: [
      "go-signature-statusbar"
      "linter"
    ]
    panel:
      displayMode: "closed"
      focusOnFailure: false
      fontSize: "1em"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "disabled"
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  latex: {}
  linter: {}
  "linter-ui-default": {}
  "one-dark-ui": {}
  "project-manager": {}
  script:
    cwdBehavior: "Project directory of the script"
    stopOnRerun: true
  "spell-check":
    addKnownWords: true
    locales: [
      "en-US"
      "en-GB"
    ]
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    autoIndentOnPaste: false
".latex.rd.tex.text":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
".litcoffee.source":
  editor:
    autoIndentOnPaste: false
".r.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
