"*":
  "atom-beautify":
    coffeescript:
      default_beautifier: "Coffee Formatter"
      indent_size: 2
      indent_with_tabs: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
    cs:
      disabled: true
    general:
      _analyticsUserId: "a084b0a4-40e8-478a-a3e0-67180886ef55"
      analytics: false
      beautifyEntireFileOnSave: false
      loggerLevel: "error"
    go:
      beautify_on_save: true
      default_beautifier: "goimports"
      disabled: true
    java:
      configPath: "~/.uncrustify/uncrustify.cfg"
    js:
      end_with_comma: true
      end_with_newline: true
      indent_size: 2
    json:
      end_with_newline: true
      indent_with_tabs: true
      jslint_happy: true
      preserve_newlines: false
      space_after_anon_function: true
      space_in_paren: true
    jsx:
      default_beautifier: "JS Beautify"
      end_with_comma: true
      end_with_newline: true
    python:
      sort_imports: true
    ruby:
      indent_size: 2
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "autocomplete-plus": {}
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    customFileTypes:
      "source.js.jsx": [
        "js"
      ]
    disabledPackages: [
      "linter-lintr"
      "wrap-guide"
      "welcome"
      "language-javascript"
      "linter"
      "ide-go"
      "ide-json"
      "ide-vue"
      "linter-rust"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "coverage"
      "build"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "/Users/inovakov/source"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    useTreeSitterParsers: true
  "coverage-gutter":
    basePath: "/Users/Ivaylo Novakov/source/"
    pathToLCOV: "./coverage/lcov.info"
  crystal:
    compilerColorOutput: true
    formatOnSave: true
  "custom-title":
    template: "<% if (projectName) { %>[ <%= projectName %> ]<% } %> <% if (relativeFilePath && relativeFilePath != fileName) { %><%= relativeFilePath %><% } else { %><%= fileName %><% }%>"
  editor:
    autoIndentOnPaste: false
    fontSize: 10
    invisibles: {}
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "dc6ad83a-018f-00ef-c120-bc01438f552b"
  "go-plus":
    autocomplete:
      snippetMode: "nameAndType"
    config: {}
    disabledBundledPackages: [
      "go-debug"
    ]
    format: {}
    lint: {}
    navigator:
      mode: "guru"
    panel:
      displayMode: "closed"
      focusOnFailure: false
      fontSize: "1em"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "disabled"
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  "go-signature-statusbar": {}
  hyperclick: {}
  "ide-rust":
    rlsToolchain: "stable"
  "language-babel":
    disableWhenNoBabelrcFileInPath: false
  latex: {}
  "lcov-info": {}
  linter: {}
  "linter-eslint":
    fixOnSave: true
    ignoreFixableRulesWhileTyping: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "source.ts"
      "source.tsx"
    ]
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    esversion: 6
  "linter-ui-default":
    decorateOnTreeView: "None"
    statusBarClickBehavior: "Jump to next issue"
    statusBarRepresents: "Current File"
    tooltipFollows: "Mouse"
    useBusySignal: false
  minimap: {}
  "one-dark-ui": {}
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
    style:
      defaultPanelHeight: "200px"
      fontSize: "11"
      theme: "novel"
    toggles:
      autoClose: true
      cursorBlink: false
      runInsertedText: false
  "project-manager": {}
  refactor:
    highlightError: false
    highlightReference: false
  script:
    cwdBehavior: "Directory of the script"
    ignoreSelection: true
    stopOnRerun: true
  "spell-check":
    addKnownWords: true
    locales: [
      "en-US"
      "en-GB"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    autoIndentOnPaste: false
".js.source":
  editor:
    autoIndentOnPaste: true
".jsdoc.source":
  editor:
    autoIndentOnPaste: true
".latex.rd.tex.text":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
".litcoffee.source":
  editor:
    autoIndentOnPaste: false
".r.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
