"*":
  "atom-beautify":
    coffeescript:
      default_beautifier: "Coffee Formatter"
      indent_size: 2
      indent_with_tabs: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
    general:
      _analyticsUserId: "a084b0a4-40e8-478a-a3e0-67180886ef55"
      analytics: false
      beautifyEntireFileOnSave: false
      loggerLevel: "error"
    go:
      beautify_on_save: true
    java:
      configPath: "~/.uncrustify/uncrustify.cfg"
    json:
      indent_with_tabs: true
      jslint_happy: true
      preserve_newlines: false
      space_after_anon_function: true
      space_in_paren: true
    python:
      sort_imports: true
    ruby:
      indent_size: 2
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "linter-lintr"
      "wrap-guide"
      "welcome"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "/Users/inovakov/source"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  crystal:
    compilerColorOutput: true
    formatOnSave: true
  "custom-title":
    template: "<% if (projectName) { %>[ <%= projectName %> ]<% } %> <% if (relativeFilePath && relativeFilePath != fileName) { %><%= relativeFilePath %><% } else { %><%= fileName %><% }%>"
  editor:
    autoIndentOnPaste: false
    fontSize: 11
    invisibles: {}
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "dc6ad83a-018f-00ef-c120-bc01438f552b"
  "go-plus":
    autocomplete: {}
    config:
      gopath: "/Users/inovakov/go"
    disabledBundledPackages: [
      "go-debug"
    ]
    format: {}
    lint: {}
    navigator:
      mode: "guru"
    panel:
      displayMode: "closed"
      focusOnFailure: false
      fontSize: "1em"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "disabled"
      runTestsOnSave: false
      runTestsWithCoverage: false
      runTestsWithShortFlag: false
  "go-signature-statusbar": {}
  latex: {}
  linter: {}
  "linter-ui-default":
    decorateOnTreeView: "None"
    statusBarClickBehavior: "Jump to next issue"
    statusBarRepresents: "Current File"
    tooltipFollows: "Mouse"
    useBusySignal: false
  "one-dark-ui": {}
  "project-manager": {}
  script:
    cwdBehavior: "Project directory of the script"
    enableExecTime: false
    stopOnRerun: true
  "spell-check":
    addKnownWords: true
    locales: [
      "en-US"
      "en-GB"
    ]
  welcome:
    showOnStartup: false
".coffee.source":
  editor:
    autoIndentOnPaste: false
".latex.rd.tex.text":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
".litcoffee.source":
  editor:
    autoIndentOnPaste: false
".r.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
