[
  {
    title: "Cimpress"
    paths: [
      "/Users/inovakov/OneDrive - Cimpress N.V/source/comment-service"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/awshovel"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/cimpress-fulfiller-identity"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/fulfiller-configuration"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/fulfiller-identity"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/fulfiller-identity-flag-updater"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/fulfillment-location"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/pollandmail"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/puremail"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/stepcheck-service"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/stereotype"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/stereotype-client"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/template-designer"
      "/Users/inovakov/OneDrive - Cimpress N.V/source/ui-wrap"
    ]
  }
  {
    title: "Sand Node"
    paths: [
      "/Users/inovakov/source/SandNode"
    ]
  }
  {
    title: "Sand Go"
    group: "Sandbox"
    paths: [
      "/Users/inovakov/go/src/github.com/ro-tex/SandGo"
    ]
  }
  {
    title: "Docker"
    paths: [
      "/Users/inovakov/source/docker"
    ]
  }
  {
    title: "Sand Py"
    group: "Sandbox"
    paths: [
      "/Users/inovakov/source/SandPy"
    ]
  }
  {
    title: "SandRails"
    group: "Sandbox"
    paths: [
      "/Users/inovakov/source/SandRails"
    ]
  }
  {
    title: "Optimo"
    paths: [
      "/Users/inovakov/source/rifiniti/optimo_ui"
      "/Users/inovakov/source/rifiniti/data_science"
      "/Users/inovakov/source/rifiniti/fetcher"
      "/Users/inovakov/source/rifiniti/ale_websocket"
      "/Users/inovakov/source/rifiniti/chef"
    ]
  }
  {
    title: "Cimpress Home"
    paths: [
      "/Users/inovakov/source/Cimpress/comment-service"
      "/Users/inovakov/source/Cimpress/fulfiller-identity"
      "/Users/inovakov/source/Cimpress/fulfiller-identity-flag-updater"
      "/Users/inovakov/source/Cimpress/fulfillment-location"
      "/Users/inovakov/source/Cimpress/poll-and-mail"
      "/Users/inovakov/source/Cimpress/puremail"
      "/Users/inovakov/source/Cimpress/shovel-serverless"
      "/Users/inovakov/source/Cimpress/stepcheck-service"
      "/Users/inovakov/source/Cimpress/stereotype"
      "/Users/inovakov/source/Cimpress/stereotype-client"
      "/Users/inovakov/source/Cimpress/template-designer"
      "/Users/inovakov/source/Cimpress/ui-wrap"
    ]
  }
]
